 <% include partials/header %>
<script type="text/javascript">
		function myfunction(myform){
			var stateSelected=myForm.state[myForm.state.selectedIndex].text;
			//alert("you selected "+hello);
			//alert("You selected"+stateSelected);
			window.open("https://bonappetite-aliakberfaiz.c9users.io/reviews/new/"+stateSelected,"_self");
		}
	</script>
<div class="container ">
    <div class="row">
     
        <div style="width: 30%; margin: 25px auto;">
               <h1 class="default-1 text-center">Create a New Review</h1>
            <form action="/reviews/new" method="POST" name="myForm">
                <div class="form-group">
                       
            <select name="state" onchange="myfunction(this.myForm)" class=" form-control form-control-sm">
                if(!selectedState)
            <option value="" disabled selected>Select your state</option>
                <% states.forEach(function(state){ %>
                <%if(selectedState==state){%>
                    <option value="<%= state %>" selected="selected"> <%=state %> </option>
                 <% } else { %>
                  <option value="<%= state %>" > <%=state %> </option>
                 <% } %>
                <% }); %>
            
        </select>
        </div>
        <!-- this is the cities select list-->
          <div class="form-group">
       
    <% if(cities){ %>
            <select name="city" class=" form-control form-control-sm">
                <%cities.forEach(function(city){ %>
                    <option value="<%= city.cityName %>" > <%=city.cityName %> </option>
                <% }); %>
        </select>
        <% } %>
        </div>
          <div class="form-group ">
        
<!--This is the dummy cities select list -->        
        <%if(!cities){%>
        <select disabled class=" form-control form-control-sm">
            <option>City<option>
        </select>
        </div>
       
        
        <%}%> <div class="form-group">
                    <input class="form-control" type="text" name="title" placeholder="title">
                    </div>
               
                  <div class="form-group">
                 
                    <input class="form-control" type="url" name="image" placeholder="Image url">
                </div>
                <div class="form-group">
                 
                    <input class="form-control" type="number" name="price" placeholder="Price">
                </div>
                <div class="form-group">
                 
                    <textarea class="form-control" type="text" name="desc" placeholder="Description" rows="3"></textarea>
                    </div>
                <div class="form-group">
                 
                    <textarea class="form-control" type="text" name="address" placeholder="Address" rows="3"></textarea>
                </textarea>
                </div>
                <div class="form-group">
                 
                    <button class="btn btn-xs btn-primary btn-block">Submit!</button>
               
                </div>
            </form>
            <a href="/reviews">Go Back</a>
        </div>
    </div>
</div>

<% include partials/footer %>